/*
*	FC Global
*
*	Global stuff
*
*	@package Flexible Content
*	@version 1.0
*/

.fc-layout {
    position: relative;
	z-index: 0;

    .fc-layout-heading {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 2;
		margin-bottom: var(--fl1-spacing-lg);
	
		.fc-layout-heading-left { 
			display: flex;
			flex-direction: column;
			gap: var(--fl1-spacing-xs);
			max-width: 800px;
		}
	
		h5 {
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 0;
			color: var(--fl1-primary);
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		h2 {
			font-weight: 700;
			font-size: var(--fl1-font-xxl);
			color: var(--fl1-primary);
			line-height: 1.4;
		}
	
		p {
			font-size: var(--fl1-font-sm);
			color: var(--fl1-text);
			font-weight: normal;
			strong {
				font-weight: 700;
			}
	
			a { 
				color: var(--fl1-primary);
				font-weight: 600;
			}
		}
	
		&.centred {
			.fc-layout-heading-left {
				align-items: center;
				max-width: 860px;
				margin: 0 auto;
				width: 100%;
				h2 {
					max-width: 80%;
					&:after {
						margin: 20px auto;
					}
				}
	
				h2,
				p {
					text-align: center;
				}
			}
		}
	}

    .fc-layout-container {
        position: relative;
		// z-index: 1;

		&:after { 
			content: '';
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}

		&.fc-background {
			.max__width {
				padding: var(--fl1-spacing-md) 4rem; 
			}

			&.fc-bk-primary {
				&:after { 
					background: var(--fl1-primary);
				}
			}

			&.fc-bk-secondary {
				&:after { 
					background: var(--fl1-secondary);
				}

				.feature__text{
					h3, p{color: var(--fl1-white);}

					.feature__action{
						.feature__action-main{
							a{background: var(--fl1-white); color: var(--fl1-primary);}
						}
					}

					span{
						a{ color: var(--fl1-white)!important; text-decoration: none!important;}
					}
				}
			}

			&.fc-background-shrink {
				&:after { 
					height: 75%;
				}
			}
		}

		.fc-shape {
			position: absolute;
			z-index: -1;
			top: 0;
			width: 360px;
			height: 664px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			&-x {
				background-image: url(../../../img/svgs/x-right.svg);
				width: 360px;
				height: 664px;
			}

			&-one {
				width: 550px;
				height: 200px;
				background-image: url(../../../img/svgs/x-one.svg);
			}

			&-left { 
				left: calc((100vw - var(--fc-shape-side, 2024px))/2);
			}

			&-right {
				right: calc((100vw - var(--fc-shape-side, 1690px))/2);
			}

			&-flip {
				transform: scaleX(-1);
			}
		}
    }
}

// Background colours
$fc_bk_colours: (
    blue: #fff,
    primary: var(--fl1-primary),
    secondary: var(--fl1-secondary),
    tertiary: var(--fl1-tertiary),
    dark: var(--fl1-tertiary),
    lightgrey: var(--fl1-lightgrey),
);

@each $key, $fc_bk_colour in $fc_bk_colours {
    .fc-bk-#{$key} {

        @if $key == primary or $key == dark {
            .fc-layout-heading {
                h2,
                p {
                    color: #fff;
                }
            }

            .fc_icon_grid_wrapper {
                article {
                    span {
                        color: var(--fl1-primary) !important;
                    }
                    .icon-grid__content {
                        h4 {
                            color: #fff !important;
                        }
                    }
                }
            }

            .accordion__wrap:not(.active) {
                border-bottom: 1px rgba(white, 0.4) solid !important;

                h3 {
                    color: #fff !important;
                }
                span {
                    color: var(--fl1-tertiary) !important;
                }
            }

            .fc_feature_wrapper {
                .feature__text {
                    h3 {
                        color: #fff !important;
                    }
                }
            }
        } @else if $key == secondary {
            .fc-layout-heading {
				h2, p{color: white;}
            }
        }
    }
}

// Lightslider Pagination
ul.lSPager.lSpg {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
    > li {
        border-radius: 100%;
        width: 12px;
        height: 12px;
        margin: 3px;
        background: var(--fl1-lightgrey);
        list-style: none;
        & > a {
            display: none;
        }
        &.active {
            background: var(--fl1-primary);
        }
    }
}

.lSAction {
    a {
        z-index: 5;
        &.lSPrev,
        &.lSNext {
            background: none;
            color: var(--fl1-primary);
            font-size: 23px;
            background: #fff;
            height: 47px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & > .lSPrev {
        left: 0;
    }
    & > .lSNext {
        right: 0;
        i {
            float: right;
        }
    }
}

.slick-dots {
    position: static;
    margin: 20px 0;
    li {
        margin-bottom: 0;
        button::before {
            color: var(--fl1-text);
            font-size: 14px;
        }

        &.slick-active {
            button::before {
				color: var(--fl1-primary);
                opacity: 1;
            }
        }
    }
}
