// SCSS Awesomeness

/* -------------------------------------------
    ____           __          __
   /  _/___  _____/ /_  ______/ /__  _____
   / // __ \/ ___/ / / / / __  / _ \/ ___/
 _/ // / / / /__/ / /_/ / /_/ /  __(__  )
/___/_/ /_/\___/_/\__,_/\__,_/\___/____/

------------------------------------------- */
@use "sass:math";

// General
@import 'inc/css-vars';
@import 'inc/vars';
@import 'inc/mixins';
@import 'inc/reset';
@import 'inc/fonts';
@import 'inc/animations'; 

// lib
@import '../lib/mmenu/css/mmenu';
@import '../lib/slick/scss/slick-theme';
@import '../lib/slick/scss/slick';
@import '../lib/lightgallery/css/lightgallery';
@import '../lib/lightslider/css/lightslider';
@import '../lib/tooltipster/scss/tooltipster.bundle.min';
@import '../lib/tooltipster/scss/tooltipster-dark';
@import '../lib/tooltipster/scss/tooltipster-light';
@import '../lib/chosen/scss/chosen.min';
@import '../lib/chosen/scss/chosen-material-theme';
@import '../lib/flatpickr/flatpickr.min';
@import '../modules/gravity-forms/scss/gf';

/**
 * Layout
 * Template layout include
*/
@import 'layout/global';
@import 'layout/nav-mobile';

@import 'layout/header';
@import 'layout/breadcrumbs';

// Modules
@import '../modules/advanced-video-banners/scss/avb';
@import 'layout/footer';

// CUSTOM
// .home{
//   #page{
//     background-image: url(img/blue-circle.png); background-position: top left; background-size: 1500px; background-repeat: no-repeat;
//   }
// } 

html {
  scroll-behavior: smooth; 
}

.fal, .far{
  font-family: "Font Awesome 6 Pro"!important;
} 

// WP FORMS
div.wpforms-container-full .wpforms-field-label, div.wpforms-container-full .wpforms-field-sublabel{color: white!important;}
div.wpforms-container-full input[type=submit]:not(:hover):not(:active), div.wpforms-container-full button[type=submit]:not(:hover):not(:active), div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active){background-color: white!important; color: black!important; padding: var(--fl1-spacing-sm) var(--fl1-spacing-md); border-radius: 50px; height: auto!important;}
div.wpforms-container-full input[type=submit]:hover, div.wpforms-container-full input[type=submit]:active, div.wpforms-container-full button[type=submit]:hover, div.wpforms-container-full button[type=submit]:active, div.wpforms-container-full .wpforms-page-button:hover, div.wpforms-container-full .wpforms-page-button:active{background-color: black!important; color: white!important; padding: var(--fl1-spacing-sm) var(--fl1-spacing-md); border-radius: 50px; height: auto!important;}

.wpforms-container .wpforms-one-half{
  @include breakpoint(475){width: 100%!important;}
}

.wpforms-container .wpforms-field.wpforms-one-half{
  @include breakpoint(475){margin: 0!important;} 
}

// POPUP
#popmake-628{
  @include breakpoint(400){max-width: 320px!important;} 
}

// VIDEO SLIDER
.mejs-volume-slider{display: none!important;} 