/*
------------------------------------------------
   ______                                 __
  / ____/___ __________  __  __________  / /
 / /   / __ `/ ___/ __ \/ / / / ___/ _ \/ /
/ /___/ /_/ / /  / /_/ / /_/ (__  )  __/ /
\____/\__,_/_/   \____/\__,_/____/\___/_/

------------------------------------------------
Carousel
*/

.fc_carousel_images {
    .carousel_images {
        display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;

        .carousel_image {
            max-width: 210px;
            @include breakpoint(900){width: 50%; max-width: none; display: flex; justify-content: center; margin: 20px 0;}
            @include breakpoint(550){width: 100%;}
            
            a { display: flex; justify-content: center;}
            img { max-width: 210px;}
        }
    }
}
