/*
------------------------------------------------
   ______                                 __
  / ____/___ __________  __  __________  / /
 / /   / __ `/ ___/ __ \/ / / / ___/ _ \/ /
/ /___/ /_/ / /  / /_/ / /_/ (__  )  __/ /
\____/\__,_/_/   \____/\__,_/____/\___/_/

------------------------------------------------
Carousel
*/

.fc_carousel_images {
    .carousel_images {
        display: flex; justify-content: space-between;

        .carousel_image {
            margin: 0 20px;
            
            a { display: flex; justify-content: center;}
            img { width: auto;}
        }
    }
}
